.site-list {
  @include list-reset;
}

.site-list__link {
  @include a-reset;
  font-size: 16px;
  padding: 16px;
  display: block;
  transition: all 0.3s;
  text-transform: uppercase;
  font-family: "Akrobat";
  letter-spacing: 1px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.site-list__item--active .site-list__link {
  color: $red;
}

.site-list__item--instagram {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-list__item--instagram a {
  align-items: center;
  display: flex;
  padding: 13px;

  &::before {
    content: "";
    display: block;
    background-image: url("../img/ig-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
}
@media (max-width: $mobile-width-only) {
  .site-list {
    background-color: #383838;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .site-list__link {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(77, 77, 77);
    color: white;
  }
}
@media (min-width: $desktop-width) {
  .site-list {
    @include list-reset;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .site-list__link {
    padding: 8px 0;
    margin-right: 24px;
    position: relative;
    font-weight: 600;
    border-radius: 24px;
    transition: all 0.3s;
    font-size: 16px;
    color: $black;

    &:after,
    &:before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 4px;
      border-radius: 4px;
      background-color: $red;
    }

    &:before {
      opacity: 0;
      transform: translateY(- $distance);
      transition: transform 0s $easeOutBack, opacity 0s;
    }

    &:after {
      opacity: 0;
      transform: translateY($distance/2);
      transition: transform $duration $easeOutBack, opacity $duration;
    }

    &:focus,
    &:hover {
      &:after,
      &:before {
        opacity: 1;
        transform: translateY(0);
      }

      &:before {
        transition: transform $duration $easeOutBack, opacity $duration;
      }

      &:after {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
      }
    }

    &:hover {
      opacity: 0.8;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  .site-list__item--active a {
    &:hover {
      cursor: default;
    }

    &::after {
      opacity: 1;
    }
  }

  .site-list__item--instagram a {
    align-items: center;
    display: flex;
    padding: 13px;
  }
}
