.slider-index {
  position: relative;
}

.slider-index__item {
  @include a-reset;
  display: block;
  position: relative;
  // @include overlay;
  //
  // &::before {
  //   opacity: 0.3;
  //   transition: all 0.3s;
  // }
}

.slider-index__info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.slider-index__container {
  position: relative;
}

.slider-index__link {
  display: block;
}

.slider-index__content {
  position: absolute;
  z-index: 25;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-index__heading {
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 900;
  font-family: "Akrobat";
  text-transform: uppercase;
}

.slider-index__text {
  line-height: 1.5;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}


.slider-index__heading {
  color: white;
}

.slider-index__counter {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}

// // Graceful loading
//
// .slider-index {
//   visibility: hidden;
//   opacity: 0;
//   transition: opacity 1s;
//   background-color: $light-grey;
// }
//
// .slider-index.slick-initialized {
//   visibility: visible;
//   opacity: 1;
// }
//
// .slider-index .slick-slide {
//   display: none;
// }
//
// .slider-index .slick-slide:first-child {
//   display: block;
//   visibility: hidden;
// }
//
// .slider-index.slick-initialized .slick-slide {
//   display: block;
//   margin-bottom: -4px;
//   visibility: visible!important;
// }

@media (max-width: $mobile-width-only) {
  .slider-index {
    margin: 0 -16px;
  }

  .slider-index .slick-arrow {
    display: none!important;
  }

  .slider-index__info {
    align-items: center;
  }

  .slider-index__preview {
    padding-bottom: 100%;
  }

  .slider-index__img {
    object-position: bottom;
  }

  .slider-index .slick-dots {
    bottom: 0;
  }

  .slider-index .slick-dots li.slick-active {
    background-color: $red;
  }

  .slider-index__text {
    display: none;
  }

  .slider-index__heading {
    font-size: 24px;
    line-height: 1.5;
    padding: 8px;
  }
}
@media (min-width: $tablet-width) {
  .slider-index {
    margin-bottom: 32px;
  }

  .slider-index .slick-arrow {
    position: absolute;
    top: calc(50% - 48px);
    width: 48px;
    height: 48px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 53%;
    z-index: 100;
    opacity: 1;
    transition: all 0.3s;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 0, 0, 0.4);
    border-radius: 6px;
    border: none;

    &:hover {
      transition: 0.3s;
      cursor: pointer;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  .slider-index .slick-next {
    right: -23px;

    &:hover {
      transform: scale(1.1);
    }
  }

  .slider-index .slick-prev {
    left: -23px;
    transform: rotate(180deg);

    &:hover {
      transform: rotate(180deg) scale(1.1);
    }
  }

  .slider-index__heading {
    font-size: 56px;
    text-align: left;
    margin-bottom: 32px;
  }

  .slider-index__content {
    align-items: center;
  }

  .slider-index__text {
    font-size: 24px;
    margin-bottom: 28px;
    text-align: left;
    display: none;
  }

  .slider-index__info {
    width: 50%;
  }
}
@media (min-width: $desktop-width) {
  .slider-index__info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .slider-index {
    margin-top: -122px;

    &:hover .slick-arrow {
      opacity: 1;
    }
  }

  .slider-index .slick-arrow {
    opacity: 0;
  }

  .slider-index .slick-next {
    right: calc(50% - 1248px / 2 - 64px);

    &:hover {
      transform: scale(1.1);
    }
  }

  .slider-index .slick-prev {
    left: calc(50% - 1248px / 2 - 64px);
    transform: rotate(180deg);

    &:hover {
      transform: rotate(180deg) scale(1.1);
    }
  }

  .slider-index__preview {
    padding-bottom: 40%;
  }

  .slider-index__item {
    border-radius: 10px;

    &::before {
      opacity: 0;
    }

    &:hover::before {
      opacity: 0;
    }
  }
}
@media (min-width: $wide-desktop-width) {
  .slider-index__preview {
    padding-bottom: 30%;
  }
}
