$red: #ffdd2d;
$red-hover: #f6d219;
$red: RGB(254, 0, 0);
$transparent: rgba(0, 0, 0, 0.37);
$green: #62b48a;
$light-grey: #f6f6f6;
$fade-red: #f45959;
$grey: #d9d9d9;
$dark-grey: #707070;

$blue: #1871e7;
$blue-hover: #1e6bb4;

$light-blue: #6c7c93;
$transparent-blue: rgba(0, 122, 255, 0.7);
$beige: #FFEBD2;

$shadow: 0 2px 8px rgba(0,0,0,0.125);

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

$black: #000000;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$tablet-width: 768px;
$desktop-width: 1200px;
$wide-desktop-width: 1600px;
$mobile-width-only: 767px;
$iphone-five-width-only: 320px;
$tablet-width-only: 1199px;

$border-radius: 4px;
